/* Global styling */

/* alternative blue shade #3662df */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Roboto:100,300,400,700|Roboto+Condensed|Source+Sans+Pro');
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
}

/* Navbar */
header .navbar{
	z-index: 1000;
	background: none !important;
	position: absolute;
	top: 0;
	width: 100%;
}

.navbar-dark .navbar-nav .nav-item a{
	margin-left: 20px;
	text-transform: uppercase;
	color: #fff;
}

.navbar-dark .navbar-nav .nav-item a.dropdown-item{
	margin: 0 auto;
}

.dropdown-menu{
	background-color: #0088cc;
}

a.dropdown-item:hover{
	background-color: #0088cc;
	color: #fff;
	transition: all 0.5s;
}


.navbar-dark .navbar-nav .nav-item a:hover{
	color: #e67e22;
	border-bottom: 2px solid #0088cc;
	transition: all 0.5s;
	padding: 10px 0;
}

/* Alternative header for other pages not index page */
.pages-header{
	min-height: 120px;
	border-bottom: 1px solid #0088cc;
	background-color: #0088cc;
}

.pages-header .navbar{
	padding: 10px;
}

/*.pages-header .top-nav{
	background-color: #0088cc;
	height: 35px;
	color: #fff;
	padding: 10px;
}

.pages-header .top-nav p{
	float: left;
	font-size: 14px;
}

.pages-header .top-nav ul{
	float: right;
}

.pages-header .top-nav li{
	display: inline-block;
}

.pages-header .top-nav li a{
	color: #fff;
}

.pages-header .navbar{
	margin-top: 2%;
}*/

.page-title{
	background: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.8)), url(../img/slider/slide1.jpg) center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 250px;
	color: #fff;
	padding-top: 5%;
}

.page-title h1{
	text-align: center;
}


/* Hero styling */
header .carousel-inner .carousel-item img{
	width: 100%;
	height: 100vh;
	margin: auto;
}

.hero{
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	color: #fff;
	position: absolute;
}

.hero h1{
	margin-top: 20%;
	margin-left: 5%;
}
.hero p{
	margin-left: 5%;
	font-size: 16px;
}

.hero-btn{
	margin-top: 5%;
	margin-left: 5%;
}

.hero-btn .btn{
	padding: 10px 30px;
	color: #fff;
	font-size: 20px;
	border: 1px solid #0088cc;
	text-decoration: none;
	margin-right: 2%;
}

.btn-services{
	background-color: #0088cc;
	color: #fff;
}

.btn-about:hover{
	background-color: #0088cc;
	color: #fff;
	transition: all 0.5s ease-in;
}

/* Section home-features */
#home-features{
	margin-top: 5%;
	padding-bottom: 5%;
}

.section-header{
	text-transform: uppercase;
	font-weight: 700;
}

.section-header span{
	font-weight: 300;
}

.section-header:after{
	width: 100px;
	height: 2px;
	background-color: #0088cc;
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 1%;
	content: " ";
	display: block;
}

.page-header-txt{
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 3%;
	color: #888;
}

.welcome-text p{
	color: #888;
	font-weight: 300;
}

.welcome-text-img img{
	width: 80%;
}

/* Why-choose-us */
#why-choose-us{
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #0088cc;
}

#why-choose-us .section-header{
	color: #fff;
}

#why-choose-us .section-header:after{
	width: 100px;
	height: 2px;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 1%;
	content: " ";
	display: block;
}

#why-choose-us .page-header-txt{
	color: #fff;
}

.reason{
	text-align: center;
	margin-bottom: 5%;
	padding: 10px;
}

.reason:hover{
	border: 1px solid #fff;
}

.reason .fa{
	font-size: 50px;
	margin-bottom: 5%;
	color: #fff;
}

.reason h4{
	color: #fff;
}

.reason p{
	color: #fff;
	font-weight: 400;
}


/* News and Events */
#news-events{
	background-color: #f5f6f7;
	padding-top: 5%;
	padding-bottom: 5%;
}

.post{
	background-color: #fff;
}

#news-events a{
	text-decoration: none;
	color: none;
}

#news-events a .post:hover{
	text-decoration: none;
	box-shadow: 10px 10px 15px #888888;
}

#news-events a h4{
	color: #222;
}

#news-events a h4:hover{
	color: #0088cc;
}

.post-img img{
	width: 100%;
	min-height:200px;
	height: auto;
	
}

.post-detail{
	padding-top: 5%;
	padding-left: 5%;
}

.post-detail h4{
	font-size: 20px;
}

.post-detail p{
	color: #777;
}

.post-snippet{
	padding: 5%;
	color: #777;
}


/* Partners section */
.our-partners{
	margin-top: 5%;
	margin-bottom: 5%;
}

.partner{
	margin-top: 5%;
	text-align: center;
}


/* About Us Page */

.about-us{
	padding-top: 5%;
	padding-bottom: 5%;
}

.about-us .section-header:after{
	width: 100px;
	height: 2px;
	background-color: #0088cc;
	margin-top: 2%;
	margin-bottom: 1%;
	content: " ";
	display: block;
}

.about-us .col-md-6{
	margin-top: 5%;
}

.social-proof{
	padding-top: 5%;
	padding-bottom: 5%;
	background: linear-gradient(rgba(0,136,204, 0.7), rgba(0,136,204, 0.7)), url(../img/slider/slide1.jpg) center;
	background-size: cover;
	background-attachment: fixed;
}

.proof{
	text-align: center;
	color: #fff;
	border-radius: 10%;
	border: 2px solid #fff;
	padding: 10px;
}

.proof .fa{
	font-size: 3em;
	margin-bottom: 5%;
}

.proof p{
	font-size: 1.2em;
	margin-bottom: 5%;
}

/* Our Team */
.our-team{
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #f5f6f7;
}

.team-member{
	background-color: #fff;
	padding-bottom: 3%;
}

.team-img img{
	width: 100%;
	min-height: 200px;
	max-height: 250px;
	height: auto;
}

.team-detail{
	padding-top: 5%;
	text-align: center;
}

/* Awards */
.awards{
	background-color: #fff;
	padding-top: 5%;
	padding-bottom: 5%;
}

.award{
	margin-top: 10%;
	padding: 10px;
	text-align: center;
}


/* Services */
.savings-products{
	padding-top: 5%;
	padding-bottom: 5%;
}

.savings-products .service-item{
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 5px;
	text-align: center;
}

.savings-products .service-item .fa{
	color: #0088cc;
	font-size: 30px;
	margin-bottom: 10%;
	border: 1px solid #0088cc;
	border-radius: 100%;
	padding: 10px;
}

.savings-products .service-item h4{
	font-size: 20px;
	font-weight: bold;
}

.savings-products .service-item:hover{
	border: 1px solid #0088cc;
	border-radius: 5px;
}

.utility-services{
	padding-top: 5%;
	padding-bottom: 5%;
	color: #222;
	background-color: #f5f6f7;
}

.utility-services .section-header:after{
	width: 100px;
	height: 2px;
	background-color: #0088cc;
	margin: 0 auto;
	margin-top: 2%;
	content: " ";
}

.utility-services .service-item-2{
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 20px;
}

.service-item-img{
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
}

.service-item-img img{
	width: 30%;
	height: 100px;
}

.service-item-2 h4{
	text-align: center;
}

.service-item-2 h4:after{
	width: 100px;
	height: 2px;
	background-color: #0088cc;
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 1%;
	content: " ";
	display: block;
}

.service-item-2 ul{
	padding: 15px;
}

.service-item-2 ul li{
	line-height: 1.5;
}

.fosa-loans{
	padding-top: 5%;
	padding-bottom: 5%;
}

.fosa-loans h4{
	text-align: center;
}

.service-item-3{
	padding: 15px;
	margin-top: 5%;
	margin-bottom: 10%;
	background-color: #f5f6f7;
}

.service-item-3 h4{
	color: #0088cc;
}

.service-item-3,
.service-item-4{
	text-align: center;
}

.service-item a,
.service-item-3 a,
.service-item-4 a{
	font-weight: bold;
	text-transform: uppercase;
}

.service-item-3 ul{
	padding: 15px;
}

.service-item-4{
	padding: 15px;
	margin-top: 5%;
	margin-bottom: 10%;
	color: #fff;
	background-color: #0088cc;
}

.service-item-4 ul{
	padding: 15px;
}

.service-item-4 a{
	color: #fff;
}



/* Blog page */
.blog{
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #f5f6f7;
}

.post{
	padding: 15px;
	background-color: #fff;
	margin-bottom: 5%;
	box-shadow: 10px 10px 20px #888888; 
}

.post-image img{
	width: 100%;
	height: 250px;
}

.published-on{
	color: #888;
}

.sidebar{
	margin-left: 5%;
	padding: 10px;
	border-left: .5px dotted #888;
}

.sidebar-div{
	padding: 10px;
	margin-bottom: 5%;
	background-color: #fff;
	box-shadow: 10px 10px 20px #888888;
}

.sidebar-div ul{
	margin-left: 5%;
}

.sidebar-div li{
	line-height: 2.5;
	font-size: 18px;
}

.sidebar-div li .fa{
	margin-right: 5%;
}

/* blog post */

.blog-post{
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #fff;
}

.single-post{
	padding: 20px;
	background-color: #fff;
	margin-bottom: 5%; 
}

.single-post .post-title{
	margin-top: 3%;
}

.featured-image{
	text-align: center;
}

.featured-image img{
	width: 100%;
	height: auto;
}

.blog-content{
	line-height: 2;
	color: #888;
	font-size: 16px;
}


/* Contact Us */
.contact-us{
	padding-top: 5%;
	padding-bottom: 5%;
}

.contacts{
	padding: 15px;
	text-align: center;
	margin-bottom: 5%;
}

.contacts p{
	font-size: 18px;
	color: #222;
}

.contacts .fa{
	text-align: center;
	font-size: 30px;
	color: #fff;
	width: 80px;
	height: 80px;
	background-color: #0088cc;
	padding: 20px;
	border-radius: 50%;
	position: relative;
	margin-top: 5%;
	margin-bottom: 5%;

}

.contact-form{
	padding: 20px;
}

.submit-btn{
	text-align: center;
}

.submit-btn .btn{
	width: 25%;
	height: 40px;
	margin-right: 3%;
}

.submit-btn .btn-send{
	background-color: #0088cc;
	color: #fff;
}

.submit-btn .btn-cancel{
	color: #222;
}

.centenary-location{
	padding: 20px;
}



/* Footer */
footer{
	padding-top: 5%;
	line-height: 1.5;
	background-color: #222;
	color: #bcbcbc;
}

.footer-div{
	padding: 10px;
}

.footer-div h4{
	margin-bottom: 5%;
}

.footer-div h4:after{
	width: 50px;
	height: 2px;
	background-color: #fff;
	margin-top: 2%;
	margin-bottom: 15%;
	content: " ";
	display: block;
}

.footer-div img{
	margin-bottom: 5%;
}

.footer-div li{
	margin-bottom: 5%;
}

.footer-div li > .fa{
	margin-right: 10%;
}

.footer-div li a{
	text-decoration: none;
	color: #bcbcbc;
}

.footer-div .fa{
	margin-right: 3%;
}

.footer-credits{
	background-color: #000;
	padding: 15px;
	height: 50px;
	margin: 0;
}

.copyright{
	float: left;
}

.developer{
	float: right;
}












@media only screen and (max-width: 768px){
	.hero h1{
		text-align: center;
		margin-top: 50%;
		margin-left: 5%;
	}
	.hero p{
		margin-left: 5%;
		text-align: center;
	}

	.hero-btn{
		text-align: center;
		margin-top: 5%;
		margin-left: 5%;
	}
}
